<br><h1>Index Page</h1>

<table>
  <thead>
    <tr>
    <th>Title</th>
    <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |x| %>
    <tr>
      <td><%= x.title %></div>
      <td><%= x.description %></div>
    </tr>
    <% end %>
  </tbody>
</table>
