<h1 class="text-center mt-4">Article Listing Page</h1>
<div class="container">
  <div class="row justify-content-center">
    <% @articles.each do |x| %>
      <%= render "articles/profile_card", article: x %>
    <% end %>

    <% if @articles.total_pages > 1 %>
      <div class="apple_pagination">
        <%= will_paginate @articles, :container => false %>
      </div>
    <% end %>
  </div>
</div>