<h1 class="text-center my-4">Categories or Genres</h1>

<div class="container">
  <div class="row g-4 justify-content-center">

    <% @categories.each do |category| %>
      <div class="col-6 col-md-4 col-lg-3">
        <%= link_to category_path(category), class: "text-decoration-none" do %>
          <div class="bg-white rounded-pill shadow-sm px-4 py-3 d-flex align-items-center justify-content-center"
               style="border: 1px solid #ccc; border-left: 6px solid <%= color_for_category(category) %>; border-top: 6px solid <%= color_for_category(category) %>;">
            <span class="fs-5 fw-semibold text-dark"><%= category.name.titleize %></span>
          </div>
        <% end %>
      </div>
    <% end %>
    
  </div>
</div>

